/* general */
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote{
	margin:0;
	padding:0;
}

body{
	font-family:Arial, sans-serif;
	font-weight:400;
	font-size:14px;
	line-height:25px;
	background-color:white;
}

/* ensure HTML5 semantic elements work in older browsers */
header, section, footer, aside, nav, article, figure
{
display: block;
} 

/* fonts */
@font-face{
	font-family:'Archivo Narrow';
	src:url(../fonts/ArchivoNarrow-Regular.ttf);
}
.centertext{
    text-align: center;
    
}

/* header */
#top {
	font-family:'Archivo Narrow', sans-serif;
	text-transform:uppercase;
	text-align:right;
	padding:10px 0;
	padding:10px 0;
	background-color:dodgerblue;
}

.logo{
	padding:8px 0 0 0;
}

.banner{
	background-color:#ffffff;
    max-height:550px;
}

.mySlides{
	max-height:550px;
	width:100%;
}
.mySlides {
    display:none;
}
/* bar */

.left_bar{
	float:left;
	width:25%;
    height: 80px;
    background-color: gainsboro;
    
}
.center_bar{
	float:left;
	width:50%;
    height: 80px;
    background-color: aliceblue;

}
.right_bar{
	float:left;
	width:25%;
    height: 80px;
    background-color: steelblue;
}

.right_bar > p > input[type="submit"]{
    font-size: 25px;
    font-weight: bold;
    text-decoration:none;
/*    color: white;*/
    border: 0;
    background-color: steelblue;
}

.right_bar > p{
    text-align: center;
    margin-top: 20px;
   
}
.left_bar > p{
    font-size: 20px;
    font-weight: bold;
	text-decoration:none;
    text-align: center;
    margin-top: 27px;
}
/* Check-in and Out Date */
.centerdate{
    text-align: center;
    margin-top: 27px;
    color: black;
    font-weight: bold;
}

input[type="date"] {
    border: 1px solid black; 
    font-weight: bold;
    font-size: 15px;
}


/* container */

.container > h1 {
    margin-top: 25px;
    color: midnightblue;
 
}

.container > p{
    margin-top:15px;
    margin-bottom:15px;
    white-space:pre-line;
}
/* nav */
nav{
	font-family:'Archivo Narrow', sans-serif;
    font-weight: bold;
	text-transform:uppercase;
	font-size:16px;
	background-color:#ffffff;
}

nav ul{
	list-style:none;
	text-align:right;
    margin-top: 20px;
	padding:10px 0;
}

nav ul li{
	display:inline;
	padding: 0 0 0 30px;
}


/* footer */
footer{
	color:#bdbdbd;
}

.copyright{
	background-color:midnightblue;
	overflow:hidden;
}

.copyrightname{
	text-align:right;
	font-size:12px;
	padding:10px 0;
}

.phone{
	font-size:18px;
}

/* headings */
h1, h2, h3, h4{
	font-family:'Archivo Narrow', sans-serif;
	text-transform:uppercase;
}

h1{
	font-size:22px;
	color:#2c2c2c;
}

h2{
	font-size:18px;
	color:#2c2c2c;
}
.bookfont{
    border: 2px solid;
    padding:3px;

    
}
div h2{
    
	font-size:20px;
	color:darkblue;
}

/* links */
a:link, a:visited{
	color:midnightblue;
	text-decoration:none;
}

a:hover{
	color:lightskyblue;
	text-decoration:none;
}



p > a:hover{
	color:lightskyblue;
	text-decoration:none;
      
}



/* images */
img{
	border:0;
}


/* common classes */
.container{
	width:1200px;
	margin:auto;
	overflow:hidden;
}
.room_container{
	width:640px;
	overflow:hidden;
}

.datebar{
    background-color: aliceblue;
}

.left{
	float:left;
	width:49%;
   
}
.leftform{
	float:left;
	width:50%;
    text-align: left;
  
}
.leftformreserve{
	float:left;
	width:50%;
    text-align: left;
  
}
.reservebutton > input[type="submit"]{
	float:left;
	text-align: left;
    border-radius: 0;
}
.leftform_book{
	float:left;


}
#panel {
    display: none;
}

.right{
	float:right;
	width:49%;
}

.left_room{
    
	float:left;
	width:50%;
    
    
}
.left_room2{
    float:left;
	width:50%;
    
    
}

.right_room{
    float:right;
    width:25%;
   

}
.right_roomreserve{
    float:right;
    width:25%;
   

}

.right_roomcart{
    float:right;
    width:25%;
   

}

.left_info{
    float:left;
    width:25%;

	
}
.left_infocart{
    float:left;
    width:25%;

	
}

.center{
	text-align:center;
}

.marginTop20{
	margin-top:20px;
}

.red{
	color:#b30000;
}

/* Input Decor */

/*
input[type="text"]{
    border-radius: 1em;
    width: 15em;
}
*/

input[type="text"]{
    border-radius: 0.3em;
    width: 15em;
}
.leftform > input[type="text"] {
    border-radius: 0.3em;
    width: 20em;
}
.leftform_book > input[type="text"] {
    border-radius: 0.3em;
    width: 3em;
}


.leftform > input[type="email"] {
    border-radius: 0.3em;
    width: 20em;
}
.leftform > input[type="tel"] {
    border-radius: 0.3em;
    width: 20em;
}
.leftform > select {
    border-radius: 0.3em;
    width: 11em;
}

input[type="password"]{
    border-radius: 0.3em;
    width: 15em;
}
input[type="email"]{
    border-radius: 0.3em;
    width: 15em;
}
input[type="tel"]{
    border-radius: 0.3em;
    width: 15em;
}
select{
    border-radius: 0.3em;
}
input[type="submit"]{
    background-color: black;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}


input[type="submit"]{
    background-color: midnightblue;
    color: white;
    border: 2px solid white;
    border-radius: 0.4em;
}


input[type="submit"]:hover{
    background-color: skyblue;
    color: black;
}
select,option {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
select:focus, option:focus {
  box-shadow: 0 0 5px yellow;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid yellow;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px yellow;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid yellow;
}
input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px yellow;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid yellow;
}
input[type=tel], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
input[type=tel]:focus, textarea:focus {
  box-shadow: 0 0 5px yellow;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid yellow;
}
input[type=email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
input[type=email]:focus, textarea:focus {
  box-shadow: 0 0 5px yellow;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid yellow;
}
#opendiv{
    display: flex;
    justify-content: center;
    margin-top:10px;
}
#tint{
    width: 100%;
    min-height:980px;
    position: absolute;
    background-color:black;
    opacity: 0.8;
    display:none;
    top: 0px;
    
}
#box{
    display: none;
    margin-top:13%;
    margin-left:41%;
    width:18%;
    height:630px;
    text-align: right;
    font-weight: bold;
    background-color:steelblue;
    border-radius: 1em;
    position: absolute;
    z-index:2;
    top:-150px;
}
#tinttwo{
    width: 100%;
    min-height:980px;
    position: absolute;
    background-color:black;
    opacity: 0.8;
    display:none;
    top: 0px;
    
}
#boxtwo{
    display: none;
    margin-top:23.5%;
    margin-left:59%;
    width:18%;
    height:300px;
    text-align: right;
    font-weight: bold;
    background-color:white;
    border-radius: 1em;
    position: absolute;
    z-index:2;
    top:-150px;
}

#exit{
    color:black;
    margin-right:0.5em;
    margin-top:0.9em;
    cursor:default;
    font-size: 1.3em;

}

/* AJAX CSS */

table
{
font-size: 12px;
font-family: Verdana;
}

.object_ok
{
border: 1px solid green; 
color: #333333; 
}

.object_error
{
border: 1px solid #AC3962; 
color: #333333; 
}

#emailstats{
    font-size:8px;
    height: 3px;
   
}

#userstats{
    font-size:8px;
    height: 3px;
   
}

/* login form */
.containerlogin{
    width:100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom:10em;
}

/*
.book_form{
    
    font-weight: bold;
    text-align: left;
    font-family: sans-serif;
    
}
*/

form{
    
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    
}
form a{
    color:deepskyblue;
    text-decoration: none;
}

table{
    
    margin:0 auto;
}
.break{
    margin-top: 1em;
    margin-bottom: 1em;
}

.smbreak{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.xsbreak{
    margin-top: 1em;
    margin-bottom: 1em;
}
.spacediv {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
}
.spacelarge{
    margin-top: 3em;
    margin-bottom: 3em;
}
.spacediv_room {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.buttondel{
    background-color: black;
    border: none;
    color: white;
    padding: 0.8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

.buttondel{
    background-color: indianred;
    color: white;
    border: 1px solid white;
    border-radius: 0.5em;
}
.buttondel:hover{
    background-color: firebrick;
    color: black;
}
.success{
	width:95%;
	color:white;
	background-color:darkblue;
	padding:5px;
	
	border-radius:3px;
	text-align:center;
}
.error{
	color:white;
	background-color:indianred;
	padding:5px;
	margin:5px 0 5px 0;
	border-radius:3px;
	text-align:center;
}

#hiddenForm{
    display:none;
    
}
#profile_hidden{
    display:none;
    
}
#form_hidden{
    display:none;
    
}
#data_hidden{
    display:none;
    
}
#memberdata_hidden{
    display:none;
    
}

.jerror{
/*	width:85%;*/
	color:white;
/*	padding:5px;*/
/*	margin:20px 0 20px 0;*/
    background-color: indianred;
    margin-bottom: 8px;
	border-radius:3px;
	text-align:center;
    font-size: 10px;
}

.jerror{
    display:none;
}

#form2{
    margin-top:2px;
}

#closediv{
    display:block;
}
#opendivider{
    display:block;
}

.movestep{
    margin-left: 0.3em;
/*    border:1px solid;*/
    width: 113px;
    background-color: deepskyblue;
    border-radius: 0.3em;
}

.movestep > h3 > a{
    margin-left: 1.4em;
    color:white;
  
}
.mid_div{
   text-align: left;
    margin-left: 2em;
    
}
.textroom{
    width: 50%;
    margin: 0 auto;
}

.float_date{
    float:right;
    margin-left: 1em;
}
.hide_delete{
    display:none;
}

/* Mobile Browser *//* Mobile Browser *//* Mobile Browser *//* Mobile Browser */
/* Mobile Browser *//* Mobile Browser *//* Mobile Browser *//* Mobile Browser */

@media only screen and (max-width:400px) 
{
   
.banner{
	display: none;
}
    
.left_bar{
    display: none;
   	
}
    
.right_bar{
    
	float:none;
	width:400px;
    height: 50px;
    background-color: steelblue;
}
    .center_bar{
	float:none;
	width:400px;
    height: 60px;
    background-color: aliceblue;

}
    .float_date{
    float:none;
    margin-top: 0.5em;
    margin-left: -0.4em;
}
.centerdate{
    text-align: left;
    margin-top: 27px;
    color: black;
    font-weight: bold;
}
.right_bar > p{
    text-align: center;
    margin-top: 22px;
   
}
    
.right_bar > p > input[type="submit"]{
    font-size: 25px;
    font-weight: bold;
    text-decoration:none;
/*    color: white;*/
    border: 0;
    background-color: steelblue;
}
.main > .container{
    width:300px;
    text-align: center;
        
}
.logo{
	padding:10px 0 10px 10px;
}    
.right{
	float:none;
	width:260px;
/*    margin-left: 1em;*/
}
.right > ul > li{
	text-align: left;
}
.copyright > .container > .left > .logo{
    text-align: center;
	width:350px;
    
}

.copyrightname{
	text-align: center;
	width:360px;
	font-size:12px;
	padding:10px 0;
}    
.room_container{
	width:300px;
    margin-left:2em;
	
}  
.left_room{    
	float:none;

      
}
.right_roomcart{
    clear: both;
    float:left;
    margin-top: 2em;
    margin-left: 2em;
/*    width:400px;*/
   

}    
    
.left_infocart{
    float:left;
    margin-left: 2em;
/*    width:25%;*/

	
} 
.leftformreserve{
	display:none;
  
}
.right_roomreserve{
    display:none;
   

}
    .hide_delete{
    display:block;
}
